body {
    background-color: #222;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0;
}

#showButton {
    padding: 12px 25px;

    font-size: 18px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

#showButton:hover {
    background-color: #ddd;
}